:root{
    --text: #ffffff;
    --bg: #ff0000;
    background-color: #09ff00;
    background: #4319a3;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    font-family: 'Courier New', Courier, monospace;


}

section{
    min-height: 100hv;
    height: auto;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2hv;
    height: 100px;
    z-index: 999;
    animation: decima 1s ease-in-out;
    transition: all ls ease-in-out;

}

@keyframes decima{
    0%{
        transform: translateY (-100px);
    }
}